/* root color */

:root{
    --bs-primary-bg: #1b72e8;
    --bs-secondary-bg: #e5e5e5;
    --bs-aside-bg:#051e34;
    --bs-light-soft-shadow: #f8f9fa8c;
    --bs-dark-bg: #5b5858;
    --bs-light-bg: #f8f9fa;
}


/* background color change */
.bg-secondary-color{
    background-color: var(--bs-secondary-bg);
}
.bg-aside-bg{
    background-color: var(--bs-aside-bg);
}

.bg-primary-bg {
    background-color: var(--bs-primary-bg);
}
.bg-dark-bg {
    background-color: var(--bs-dark-bg);
}

.bg-light-bg {
    background-color: var(--bs-light-bg);
}  

/* general */


.font-xs{
    font-size: 0.8rem;
}



/* nav-bar */

.my-nav-bar-header  {
    height: 64px;
    width: 100%;
}

.my-nav-bar-header .row {
    flex-wrap: nowrap;
    width: 100%;
}

.my-nav-bar-header ul {
    height: 100%;
}
.my-nav-bar-header .dropdown-toggle::after {
    display: none;
}

.star-color{
    color:#ff8f00 ;
}


/* inizio aside  */
.main-principale {
    height: calc(100vh - 64px);
}

#sidebar {
    height: 100%;
    width: 60px;
    background-image: url("../img/sidebar-bg.png");
}

#sidebar a {
    display: inline-block;
    min-width: 60%;
    text-align: center;
    
}

#sidebar a:hover {
    background-color: var(--bs-light-soft-shadow);
}

/* parte princiale */
.my-main-container {
    height: calc(100vh - 64px);
    width: calc(100vw - 60px);
    overflow: auto;
}



.info-next-class .icon {
    display: inline-block;
    background-image: url("../img/class-avatar.jpg");
    background-position: center;
    background-size: cover;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    vertical-align: middle;
}

.info-next-class td button {
    border-color: var(--bs-dark-bg);
    color: var(--bs-dark-bg);
}

.info-next-class td button:hover {
    border-color: var(--bs-light-bg);
    color: var(--bs-light-bg);
}



/* offcanvas */
.new-student #offcanvasRight {
    width: 100%;
}
.new-student .input-group-text,
.new-student #foto-studente{
    background-color: #f8f9fa;
} 
/* media responsive */


/* device large */
@media screen and (min-width: 992px) {
    
    #sidebar {
        width: 150px;
    }
    
    .my-main-container {
        width: calc(100vw - 150px);
    }

    .new-student #offcanvasRight {
        width: 500px;
    }


}
/* device xl */

@media screen and (min-width: 1200px) {
    .info-next-class tbody tr td:first-of-type {
        width: 60%;
    }
}