/* root color */

:root{
  --bs-primary-bg: #1b72e8;
  --bs-secondary-bg: #e5e5e5;
  --bs-tertiary-bg: #051e34;
  --bs-light-soft-shadow: #f8f9fa8c;
}


/* background color change */
.bg-secondary-color{
    background-color: var(--bs-secondary-bg);
}
.bg-tertiary-bg{
    background-color: var(--bs-tertiary-bg);
}

.bg-primary-bg {
    background-color: var(--bs-primary-bg);
}   

/* general */


.font-xs{
    font-size: 0.8rem;
}



/* nav-bar */

.my-nav-bar-header  {
    height: 64px;
    width: 100%;
}

.my-nav-bar-header .row {
    flex-wrap: nowrap;
    width: 100%;
}

.my-nav-bar-header ul {
    height: 100%;
}
.my-nav-bar-header .dropdown-toggle::after {
    display: none;
}

.star-color{
    color:#ff8f00 ;
}


/* inizio aside  */
.main-principale {
    height: calc(100vh - 64px);
}

#sidebar {
    height: 100%;
    width: 60px;
    background-image: url("../img/sidebar-bg.png");
}

#sidebar a {
    display: inline-block;
    min-width: 60%;
    text-align: center;
    
}

#sidebar a:hover {
    background-color: var(--bs-light-soft-shadow);
}

/* parte princiale */



/* media responsive */


/* device large */
@media screen and (min-width: 992px) {
    
    #sidebar {
        width: 150px;
    }
    
    .my-main-container {
        width: calc(100vw - 150px);
    }


}
